body{
    background-color: black;
    line-height: 10px;
}

a:link{
    color:chartreuse;
}

a:visited{
    color: chartreuse;
}

a:hover{
    color: rgb(0, 255, 208);
}

a:active{
    color: rgb(0, 255, 208);
}

a{
    text-decoration: none;
}

#gap_section{
    height: 75px;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#toc{
    margin-bottom: 0px;
    color: chartreuse;
    font-size: 32px;
}

hr{
    display: block;
    height: 2px;
    width: 100%;
    margin: auto 0;
    border: 1px solid chartreuse;
}

.attribute{
    color: chartreuse;
    font-size: 17px;
    font-family: 'Share Tech Mono', monospace;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 17px;
}

p{
    color: chartreuse;
    font-size: 17px;
    font-family: 'Share Tech Mono', monospace;
    line-height: 28px;
    margin: 10px 0px;
}

h1{
    color: chartreuse;
    font-family: 'Share Tech Mono', monospace;
    display: inline-block;
    font-size: 42px;
}

h2{
    color: chartreuse;
    font-family: 'Share Tech Mono', monospace;
    display: inline-block;
    font-size: 28px;
}

h3{
    font-size: 24px;
    font-family: 'Share Tech Mono', monospace;
    display: inline-block;
    padding: 5px;
    color: chartreuse;
    vertical-align: top;
    margin-bottom: 10px;
}

.def_sec{
    border-bottom: 4px groove chartreuse;
}

.back_link{
    float: right;
}

#padding{
    padding-bottom: 2px;
}

@font-face{
    font-family: "Monaco";
    src: url(C:/Users/Ben/Documents/GitHub/project-one/assets/monaco.ttf);
}

.codetext{
    background-color: rgba(215, 215, 215, 1);
    font-weight: bold;
    color: black;
    padding: 3px;
    font-family: "Monaco";
    font-size: 13px;
    margin-bottom: 0px;
}