body{
    background-color: black;
    line-height: 10px;
}

a:link{
    color:chartreuse;
}

a:visited{
    color: chartreuse;
}

a:hover{
    color: rgb(0, 255, 208);
}

a:active{
    color: rgb(0, 255, 208);
}


#toc{
}


#gap_section{
    height: 150px;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

hr{
    display: block;
    height: 2px;
    width: 100%;
    margin: auto 0;
    border: 1px solid chartreuse;
}




a{
    text-decoration: none;
}

h1{
    color: chartreuse;
    font-family: monospace;
    display: inline-block;
    font-size: 42px;
}

h2{
    color: chartreuse;
    font-family: monospace;
    display: inline-block;
    font-size: 32px;
}

ul{
    color: chartreuse;
    font-size: 32px;
}

h3{
    font-size: 24px;
    font-family: monospace;
    display: inline-block;
    padding: 5px;
    color: chartreuse;
    vertical-align: top;
}

.def_sec{
    border-bottom: 1px solid chartreuse;
}

.back_link{
    float: right;
}